# Projet GCP
GCP_PROJECT_ID=ton-projet-gcp
# Uniquement pour l'auth par service account (cible dbt "sa"). Inutile en OAuth.
# GOOGLE_APPLICATION_CREDENTIALS=/chemin/vers/dvf-sa.json

# BigQuery
BQ_LOCATION=EU
BQ_RAW_DATASET=raw

# Périmètre d'ingestion
DVF_YEARS=2021,2022,2023,2024,2025
DVF_DEPARTMENTS=75,77,78,91,92,93,94,95
